.sec-nav.bg-primary.d-none.d-lg-block(style="--bs-bg-opacity: .05;")
    .container
        nav.nav
            ul.nav__list
                li.nav__item
                    a.nav__link(href='#')
                        span Многолетники
                        svg(width='24' height='25')
                            use(href='assets/svg/svg_sprite.svg#link-arrow')
                    .nav__inner
                        .row
                            .col.nav__inner-list
                                a.nav__inner-link(href='#') Агастахе
                                a.nav__inner-link(href='#') Астильба
                                a.nav__inner-link(href='#') Астра
                                a.nav__inner-link(href='#') Бадан 
                                a.nav__inner-link(href='#') Барвинок 
                                a.nav__inner-link(href='#') Вальдштейния 
                                a.nav__inner-link(href='#') Вербейник 
                                a.nav__inner-link(href='#') Вероника
                                a.nav__inner-link(href='#') Гвоздика
                                a.nav__inner-link(href='#') Гейхера
                                a.nav__inner-link(href='#') Гелениум 
                                a.nav__inner-link(href='#') Герань 
                                a.nav__inner-link(href='#') Горец 
                                a.nav__inner-link(href='#') Дербенник 
                                a.nav__inner-link(href='#') Душица
                                a.nav__inner-link(href='#') Живучка 
                                a.nav__inner-link(href='#') Колокольчик
                                a.nav__inner-link(href='#') Котовник 
                                a.nav__inner-link(href='#') Кровохлебка 
                                a.nav__inner-link(href='#') Лаванда 
                                a.nav__inner-link(href='#') Лилейник 
                                a.nav__inner-link(href='#') Манжетка
                                a.nav__inner-link(href='#') Мискантус
                                a.nav__inner-link(href='#') Молиния
                                a.nav__inner-link(href='#') Монарда 
                                a.nav__inner-link(href='#') Мята 
                                a.nav__inner-link(href='#') Овсяница 
                                a.nav__inner-link(href='#') Осока 
                                a.nav__inner-link(href='#') Очиток
                                a.nav__inner-link(href='#') Папоротник
                                a.nav__inner-link(href='#') Рудбекия
                                a.nav__inner-link(href='#') Полынь 
                                a.nav__inner-link(href='#') Тимьян 
                                a.nav__inner-link(href='#') Тысячелистник
                                a.nav__inner-link(href='#') Флокс 
                                a.nav__inner-link(href='#') Хоста 
                                a.nav__inner-link(href='#') Шалфей 
                                a.nav__inner-link(href='#') Элимус 
                                a.nav__inner-link(href='#') Показать еще 500 многолетников  
                li.nav__item
                    a.nav__link(href='#')
                        span Декоративные кустарники
                        svg(width='24' height='25')
                            use(href='assets/svg/svg_sprite.svg#link-arrow')
                    .nav__inner
                        .row
                            .col.nav__inner-list
                                a.nav__inner-link(href='#') Айва
                                a.nav__inner-link(href='#') Арония
                                a.nav__inner-link(href='#') Барбарис
                                a.nav__inner-link(href='#') Бересклет 
                                a.nav__inner-link(href='#') Боярышник 
                                a.nav__inner-link(href='#') Вейгела 
                                a.nav__inner-link(href='#') Гортензия 
                                a.nav__inner-link(href='#') Дерен
                                a.nav__inner-link(href='#') Ива
                                a.nav__inner-link(href='#') Ирга
                                a.nav__inner-link(href='#') Калина 
                                a.nav__inner-link(href='#') Кизильник 
                                a.nav__inner-link(href='#') Крушина 
                                a.nav__inner-link(href='#') Лапчатка 
                                a.nav__inner-link(href='#') Пузыреплодник 
                                a.nav__inner-link(href='#') Роза 
                                a.nav__inner-link(href='#') Рябинник 
                                a.nav__inner-link(href='#') Сирень 
                                a.nav__inner-link(href='#') Скумпия 
                                a.nav__inner-link(href='#') Снежноягодник 
                                a.nav__inner-link(href='#') Спирея 
                                a.nav__inner-link(href='#') Стефанандра 
                                a.nav__inner-link(href='#') Форзиция 
                                a.nav__inner-link(href='#') Чубушник 
                                a.nav__inner-link(href='#') Показать еще 500 декоративных кустарников  
                li.nav__item
                    a.nav__link(href='#')
                        span Плодовые кустарники
                        svg(width='24' height='25')
                            use(href='assets/svg/svg_sprite.svg#link-arrow')
                    .nav__inner
                        .row
                            .col.nav__inner-list
                                a.nav__inner-link(href='#') Актинидия
                                a.nav__inner-link(href='#') Брусника
                                a.nav__inner-link(href='#') Голубика
                                a.nav__inner-link(href='#') Ежевика 
                                a.nav__inner-link(href='#') Ежемалина 
                                a.nav__inner-link(href='#') Жимолость 
                                a.nav__inner-link(href='#') Крыжовник 
                                a.nav__inner-link(href='#') Малина 
                                a.nav__inner-link(href='#') Облепиха 
                                a.nav__inner-link(href='#') Смородина  
                li.nav__item
                    a.nav__link(href='#')
                        span Плодовые деревья
                        svg(width='24' height='25')
                            use(href='assets/svg/svg_sprite.svg#link-arrow')
                    .nav__inner
                        .row
                            .col.nav__inner-list
                                a.nav__inner-link(href='#') Абрикос
                                a.nav__inner-link(href='#') Алыча
                                a.nav__inner-link(href='#') Вишня
                                a.nav__inner-link(href='#') Груша 
                                a.nav__inner-link(href='#') Дюк 
                                a.nav__inner-link(href='#') Персик 
                                a.nav__inner-link(href='#') Рябина 
                                a.nav__inner-link(href='#') Слива 
                                a.nav__inner-link(href='#') Черешня 
                                a.nav__inner-link(href='#') Шелковица 
                                a.nav__inner-link(href='#') Яблоня  
                li.nav__item
                    a.nav__link(href='#')
                        span Декоративные деревья
                        svg(width='24' height='25')
                            use(href='assets/svg/svg_sprite.svg#link-arrow')
                    .nav__inner
                        .row
                            .col.nav__inner-list
                                a.nav__inner-link(href='#') Береза
                                a.nav__inner-link(href='#') Боярышник
                                a.nav__inner-link(href='#') Вяз
                                a.nav__inner-link(href='#') Дуб 
                                a.nav__inner-link(href='#') Ива 
                                a.nav__inner-link(href='#') Каштан 
                                a.nav__inner-link(href='#') Клен 
                                a.nav__inner-link(href='#') Липа 
                                a.nav__inner-link(href='#') Рябина 
                                a.nav__inner-link(href='#') Черемуха 
                                a.nav__inner-link(href='#') Яблоня  
