@import "normalize.css";
// @import 'bootstrap/scss/bootstrap.scss';
// @import './fonts.scss';

:root {
  --main-fz: 16px;
  --main-lh: 1.5;
  --main-ff: "inherit";
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--main-fz);
  line-height: var(--main-lh);
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;

  @media screen and (max-width: 1200px) {
    max-width: 100%;
    padding: 0 16px;
  }

  @media screen and (max-width: 640px) {
    padding: 0 10px;
  }
}

.page {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.sec-title {
  @media screen and (max-width: 640px) {
  }
}

svg {
  transition: fill 0.3s, stroke 0.3s;
}

a {
  transition: color 0.3s ease, background-color 0.3s ease;
}
