@use 'sass:color';
@import 'rfs/scss';

// SCSS файл
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

/* 
button {
  --bs-btn-padding-x: 1.666rem;
  --bs-btn-padding-y: 0.943rem;
  --bs-btn-font-weight: 700;
  --bs-btn-line-height: normal;
  --bs-btn-border-width: 0.5px;
  --bs-btn-border-radius: 20px;
}
 */

.custom2-button {
  @include button-variant(
    $primary,
    $primary,
    $white,
    $secondary,
    $secondary,
    $white
  );
  @include button-size(
    $btn-padding-y,
    $btn-padding-x,
    $font-size-base,
    $btn-border-radius
  );
}

.custom2-outline-button {
  @include button-outline-variant($primary, $white, $secondary, $white);
  @include button-size(
    $btn-padding-y,
    $btn-padding-x,
    $font-size-base,
    $btn-border-radius
  );
}

$bd-violet: #712cf9;

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.btn-accent {
  --bs-btn-bg: var(--accent-color, #ff8554);
  --bs-btn-active-bg: var(--accent-color, #ff8554);
  --bs-btn-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-border-color: var(--accent-color, #ff8554);
  --bs-btn-hover-border-color: var(--accent-color, #ff8554);
  --bs-btn-active-border-color: var(--accent-color, #ff8554);
  display: inline-flex;
  justify-content: center;

  gap: 0.375em;

  &:hover,
  &:focus-visible {
    background-color: color.adjust(#ff8554, $lightness: -10%);
  }

  &:active {
    background-color: color.adjust(#ff8554, $lightness: -10%);
  }
}
