@use 'sass:color';

// SCSS файл
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

/* 
button {
  --bs-btn-padding-x: 1.666rem;
  --bs-btn-padding-y: 0.943rem;
  --bs-btn-font-weight: 700;
  --bs-btn-line-height: normal;
  --bs-btn-border-width: 0.5px;
  --bs-btn-border-radius: 20px;
}
 */

.btn-accent {
  --bs-btn-bg: var(--accent-color, #ff8554);
  --bs-btn-active-bg: var(--accent-color, #ff8554);
  --bs-btn-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-border-color: var(--accent-color, #ff8554);
  --bs-btn-hover-border-color: var(--accent-color, #ff8554);
  --bs-btn-active-border-color: var(--accent-color, #ff8554);
  display: inline-flex;
  justify-content: center;

  gap: 0.375em;

  &:hover,
  &:focus-visible {
    background-color: color.adjust(#ff8554, $lightness: -10%);
    background-color: tint-color(#ff8554, 30%);
    background-color: shade-color(#ff8554, 30%);
  }

  &:active {
    background-color: color.adjust(#ff8554, $lightness: -10%);
  }
}
