//@import 'custom-bootstrap';

/* @import 'style';
@import 'header';
@import 'sections';
@import 'footer';
@import 'typograf';
@import 'links';
@import 'buttons';
@import 'nav';
@import 'details';
//@import 'qwiz';
@import 'card';
@import 'stuff';
@import 'aspect-ratio';
@import 'added-styles';
//@import 'shortened'; */
