@import 'rfs/scss';

.nav {
  position: relative;
  z-index: 5;

  // .nav__list
  &__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
  }

  // .nav__item
  &__item {
    &:hover,
    &:focus-visible,
    &:focus-within {
      .nav__inner {
        opacity: 1;
        pointer-events: initial;
        transition: opacity 0.2s ease-in-out;
      }
    }

    &::marker {
      color: transparent;
    }
  }

  // .nav__link
  &__link {
    align-items: center;
    display: flex;
    font-weight: 500;
    color: inherit;
    gap: 4px;
    justify-content: center;
    padding: 9px 0;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;

    &:hover,
    &:focus-visible {
      color: var(--color-1c-red);
    }

    svg {
      transform: translate(0, 0px);
    }
  }

  // .nav__inner
  &__inner {
    background-color: #ffffff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    //border: 0.5px solid var(--color-gray);
    left: 0;
    max-height: 70vh;
    opacity: 0;
    padding: 24px 16px;
    pointer-events: none;
    position: absolute;
    top: 100%;
    transition: opacity 0.1s ease-in-out;
    width: 100%;
    z-index: 5;

    &:hover,
    &:focus-visible {
      opacity: 1;
      pointer-events: initial;
      transition: opacity 0.2s ease-in-out;
    }

    /*  &::before {
        content: '';
        height: 20px;
        left: 0;
        position: absolute;
        top: -6px;
        width: 100%;
        z-index: -1;
      } */

    &::after {
      box-shadow: 0 200vh 0px 200vh rgba(0, 0, 0, 0.5);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0px;
      transform: translate(0, -1px);
      width: 100%;
      z-index: -1;

      border-bottom-right-radius: inherit;
      border-bottom-left-radius: inherit;
      //border-radius: inherit;
    }
  }

  // .nav__inner-list
  &__inner-list {
    align-items: start;
    display: grid;
    gap: 16px 24px;
    grid-template-columns: repeat(4, 1fr);
    justify-items: start;
  }

  // .nav__inner-link
  &__inner-link {
    color: inherit;
    line-height: 1.2;
    padding: 8px 12px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }

    &:active,
    &.active,
    &.cur,
    &.current {
      font-weight: bold;
    }
  }
}
